h1
{
	text-align :center;
	color: rgb(29, 240, 240)
}
button{
    background-color: #EA4C89;
    margin-left: +100px;
    margin-top: +50px;
}
/*box{
	background-color: blue;
	color:white;*/

.heading{
	color:red;
}
a{
	text-decoration: none;
}
h1{
	text-align: center;
	text-transform: capitalize;

}

